.dropdownBox {
    min-width: 115px;
    max-width: 115px;
    width: 100%;
    background-color: white !important;
    font-size: 10px;
  }

  .example-form {
    min-width: 115px;
    max-width: 115px;
    width: 100%;
    background-color: white !important;
    font-size: 10px;
  }

/*#dropdownBox .mat-form-field {
    background-color: white !important;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e9;
  }*/

 